dist: xenial
language: python
python: 3.7
install:
  - pip install -r requirements.txt
  - pip install coveralls codecov
script:
  - python setup.py test
  - python setup.py flake8
after_success:
  - coveralls
  - codecov
