clickclick>=1.2.1
boto3>=1.9.212
botocore>=1.5.26
netaddr>=0.7.18
requests>=2.9.1
keyring
python-gnupg>=0.3.7
python-dateutil
datetime
PyYAML
PyJWT>=2.0, <3.0
stups-zign>=1.1.26
setuptools>=30
flake8
